.BodyText{
    border: 1px solid black;
}
.TitleText{
    border: 1px solid black;
}
.input{
    border-radius: 20px;
}
.postParent{
display: flex;
gap: 20px;
flex-direction: column;
max-width: 500px;
justify-content: center;
margin: 30px auto;
}

.button{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: green;
}